@import url(http://fonts.googleapis.com/css?family=Play:400,700);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,700);

@media all {
	body {
		font-family: "Lato", sans-serif;
		margin: 0;
		background:
			linear-gradient(135deg, #ECEDDC 25%, transparent 25%) -50px 0,
			linear-gradient(225deg, #ECEDDC 25%, transparent 25%) -50px 0,
			linear-gradient(315deg, #ECEDDC 25%, transparent 25%),
			linear-gradient(45deg, #ECEDDC 25%, transparent 25%);
		background-size: 100px 100px;
		background-color: #f25e76;
		font-size: 16px;
		box-sizing: border-box;
	}
	
}

@media all and (max-width: 724px) {
	body {
		font-size: 14px;
	}
	div#container {
		width: 34.7em;
		height: 19em;
	}

	div.compliment {
		width: 17em;
		height: 7.8em;
	}
}

@media all and (max-width: 509px) {
	body {
		font-size: 12px;
	}
}

h1 {
  font-size: 2em;
  font-family: Play, sans-serif;
  padding-left: 2em;
  text-shadow: 1px 1px 0 #ECEDDC;
}

h1 span {
  font-size: 2em;
}

h1 strong {
  font-size: 1.2em;
  display: block;
  font-weight: 700;
  line-height: 0.6;
}

p {
  margin-left: 5.4em;
  font-size: 0.8em;
  letter-spacing: 0.05em;
}

#container {
	height: 17.34em;
	width: 44.375em;
	margin: 0 auto;
	margin-top: 2.8em;
	box-shadow: 1px 1px 8px #444;
	content: ".";
}

.compliment {
  margin: 0 auto;
  letter-spacing: 0.13em;
  color: #ffffff;
  font-size: 22px;
  width: 22.7em;
  background-color: #1AC995;
  padding: 1.7em;
  line-height: 1.56em;
  border-radius: 1px;
  font-weight: 100;
}

a {
  font-weight: 300;
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
  font-weight: 700;
}

button {
	position: absolute;
	float: right;
	right: 18px;
	top: 0;
	width: 50px;
	height: 50px;
	background-color: #ec173a;
	color: #ffffff;
	border: none;
	visibility: hidden;
}
